/* form css
From: https://codemyui.com/animated-signup-form-with-shrinking-input-labels/
*/


form {
  text-align: left;
  z-index: 10000;
  max-width: 60%;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: left;
}
label .label-text {
  color: #9B9B9B;
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}
label input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #4A4A4A;
  color: grey;
  font-size: 26px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: left;
  transition: all 0.3s;
  width: 100%;
  max-width: 320px
}
label input:focus {
  max-width: 600px;
  width: 100%;
}
label input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

button {
  background-color: #333333;
  border: 0px solid white;
  border-radius: 10px;
  color: white;
  /*cursor: pointer;*/
  font-size: 10px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
  letter-spacing: 0.2em;
}
button:hover, button:focus {
  background-color: #999;
  color: white;
  outline: 0;
}

#showInput {
  text-transform: uppercase;
  color: white;
}

#displayUserName {
  text-transform: uppercase;
  color: white;
  border: 3px solid white;
  padding: 2%;
  margin: 50px 0 0 0;
  text-align: center;
}

/* form modal */
.modal {
  z-index:101;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
	transition: opacity 0.5s, visibility 0s 0.5s;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90%;
  height: 90%;
  /*display: flex;*/
  padding: 5%;
}

.modal.active {
  opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
  z-index: 1000000;
}

#closeContactOverlay {
  text-align: right;
}

#close {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

#close a:hover {
  border-bottom: 1px solid white;
  padding: 15px;
}

#formHidden {
  display: none;
}

#showInput {
  -webkit-animation: fadeIn 0.3s ease-in;
    animation: fadeIn 0.3s ease-in;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
