/* css */

body {
  font-family: 'work sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

}

body a {
  cursor: crosshair;
}

header {
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'work sans', sans-serif;
  font-size: 14px;
  font-style: normal;
}

header a:link {
  transition: 0.3s ease all;
  text-decoration: none;
  color: black;
  height: 20px;
  padding-bottom: 7px;
}

header a:hover {
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 30px;
}

#about {
  position: fixed;
  left: 15px;
  top: 50%;
  bottom: 0px;
  /*display: flex;*/
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  z-index: 10;
  /*width: 100vh;
  justify-content: center;*/
  height: 0px;
  width: 0px;


}

#title {
  /*display: flex;
  justify-content: flex-start;*/
  position: fixed;
  top: 15px;
  left: 15px;

}

#mood {
  /*display: flex;
  justify-content: flex-end;*/
  position: fixed;
  top: 15px;
  right: 15px;
}

#contact {
  position: fixed;
  right: 15px;
  top: 40%;
  bottom: 0px;
  /*display: flex;*/
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  z-index: 10;
  /*width: 100vh;
  justify-content: center;*/
  height: 0px;
  width: 0px;
}


#container {
  display: flex;
  max-width: 80%;
  justify-content: center;
}

#projectNames {
  z-index: 100;
}

#projecth1 {
  font-size: 38px;
  font-weight: 600px;
  text-transform: capitalize;
}

#showBackground {
  position: absolute;
  z-index: 1;
}
