/* css */

body {
  font-family: 'work sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border-top: .1rem solid;
  height: 0;
  max-width: 20%;
  text-align: center;
  margin: 30% auto;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 0.6;
}

header {
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'work sans', sans-serif;
  font-size: 14px;
  font-style: normal;
}

a {
  cursor: crosshair;
  transition: 0.3s ease all;
  text-decoration: none;
  color: black;
  height: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid white;
}

a:hover {
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 30px;
}

/* h1 {
  font-weight: 600;
}

h3 {
  font-weight: 400;
  line-height: 1.8em;
} */

p {
  margin-bottom: 1.3em;
  line-height: 1.7;
  font-weight: 400;
}

/* Font sizing from http://type-scale.com/ */
h1, h2, h3, h4 {
  /* margin: 1em 0 0.5em; */
  line-height: 1.1;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 0 1rem 0;
  color: $black;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 3.598em;
  font-weight: 600;
}

h2 {
  font-size: 2.827em;
  margin: 0 .8em;
}


h3 {
  font-size: 1.999em;
  font-weight: 400;
  line-height: 1.8em;
}

h4 {font-size: 1.414em;}

.hidden {
  display: none;
}

.show {
  display: block;
}

.line {
    height: 0;
    width: 3rem;
    display: inline-block;
    vertical-align: middle;
    border-top: .1rem solid;
    top: -.1rem;
    position: relative;
    margin-right: 10px
}

.clear {
  clear: both;
}

#about {
  position: fixed;
  left: 15px;
  top: 50%;
  bottom: 0px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 10;
  height: 0px;
  width: 0px;
}

#title {
  position: fixed;
  top: 15px;
  left: 15px;
}

#mood {
  position: fixed;
  top: 15px;
  right: 15px;
}

#contact {
  position: fixed;
  right: 15px;
  top: 43%;
  bottom: 0px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 10;
  height: 0px;
  width: 0px;
}


/* project container -------------------------------------*/

#container {
  display: flex;
  margin: 10% 9% 0%;
  flex-direction: row;
  height: 700px;
}

#pTitle {
  position: absolute;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 10px;
}

#projectNames {
  z-index: 100;
  margin-top: 50px;
}

#projecth1 {
  font-size: 38px;
  font-weight: 600px !important;
  text-transform: capitalize;
  opacity: 0.3;
  transition: 0.3s ease all;
}

#projecth1 a {
  border-bottom: 0px;
  transition: 0.3s ease all;
}

#projecth1:hover {
  opacity: 0.8;
  padding-left: 10px;
}

#pList {
  z-index: 1000;
  width: 50%;
  padding-top: 20px;
}

#showBackground {
  position: absolute;
  margin-left: 15%;
  z-index: 1;
  width: 50%;
}

#showBackground img {
  max-width: 800px;
  -webkit-animation: fadeIn 0.4s ease-in;
  animation: fadeIn 0.4s ease-in;
}


/* about css ----------------------------------------------*/

#projectContain {
  display: flex;
  flex-direction: row;
  margin: 10% 12%;
}

#projectContain h1 {
  font-size: 32px;
}

#projectContain h3 {
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
}

#projectContain img {
  width: 100%;
}

#aboutContent {
  width: 50%;
  margin-top: 2%;
}

#aboutImg {
  width: 40%;
  text-align: center;
  filter: grayscale(100%);
  margin-top: 2%;
  margin: 0 auto;
}

#aboutImg:hover {

}

#social {
  display: flex;
  opacity: 1;
  transition: 0.3s ease all;
}

#social:hover {
}

#social img {
    transform: scale(.9);
}

.imgo {
  padding: 10px 20px 0 0;
  transition: 0.3s ease all;
  opacity: 0.4;
}

a.imgo:hover {
  opacity: 1;
  border-bottom: 0px;
}


/* outtpost page css -------------------------------------------*/

#projectImg {width: 50%; margin-top: 2%; padding-left: 100px; text-align: left;}

#projectO2 {width:47%;}
#projectO3 {width:47%; padding-top: 20%; margin: 0 auto;}
#projectO5 {width: 60%; padding-left:40%;}



/* mpowered media page css -------------------------------------------*/

#projectmpm1 {width: 33%;}
#projectmpm2 {width: 33%;}
#projectmpm3 {width: 33%;}

#projectmpm4 {width: 70%; margin: 0 auto;}
#projectmpm5 {width: 70%; margin: 0 auto;}

#projectmpm6 {width: 25%;}
#projectmpm7 {width: 25%;}
#projectmpm8 {width: 25%;}
#projectmpm9 {width: 25%;}

#projectmpm10 {width: 90%; margin: 0 auto;}



/* mrealty page css -------------------------------------------*/

#projectm2 {width: 70%; margin: 0 auto;}
#projectm3 {width: 90%; margin: 0 auto;}

#projectm4 {width: 40%; margin: 0 auto;}
#projectm5 {width: 40%; margin: 0 auto;}

#projectm4 img {-webkit-box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);
-moz-box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);
box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);}
#projectm5 img {-webkit-box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);
-moz-box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);
box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);}

#projectm6 img {-webkit-box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);
-moz-box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);
box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);}

#projectm7 {width: 45%; margin: 0 auto;}
#projectm8 {width: 45%; margin: 25% auto;}

#projectm9 {width: 70%; margin: 0 auto;}
#projectm10 {width: 70%; margin: 0 auto;}
#projectm10 img {-webkit-box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);
-moz-box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);
box-shadow: 6px 6px 46px -6px rgba(0,0,0,0.37);}



/* chambray page css -------------------------------------------*/

#projectc1 {width: 45%; margin: 0 auto;}

#projectc2 {width: 50%; margin-top: 20%;}
#projectc3 {width: 40%; margin: 0 auto;}

#projectc4 {width: 50%; margin-left: 50%;}

#projectc6 {width: 40%; margin: 0 auto;}
#projectc7 {width: 40%; margin-top: 20%;}

#projectc8 {width: 90%; }



/* hive page css -------------------------------------------*/

#projecth1 {width: 80%; margin: 0 auto;}

#projecth2 {width: 45%; }
#projecth3 {width: 45%;margin: 10% auto 0; }

#projecth4 {width: 90%; margin: 0 auto;}

#projecth5 {width: 70%; margin-left: 40%;}



/* page transition -------------------------------------------*/
.fadein1 {
    -webkit-animation: fadeIn 0.4s ease-in;
    animation: fadeIn 0.4s ease-in;
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation-delay: 2s;
}

.fadein2 {
    -webkit-animation: fadeIn 0.4s ease-in;
    animation: fadeIn 0.4s ease-in;
}

.fadein {
    -webkit-animation: fadeIn 0.4s ease-in;
    animation: fadeIn 0.4s ease-in;
}
.fadeout {
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  h1 {margin-top: 0;font-size: 2.074em;}
  h2 {font-size: 1.728em;}
  h3 {font-size: 1.44em;}
  h4 {font-size: 1.2em;}

  #mood {
    display: none;
  }

  #projectContain {
    flex-direction: column;
  }

  #aboutContent {
    width: 100%;
    margin: 2rem 0 0;
  }

  #projectImg {
    width: 100%;
    padding: 0;
  }

  #projecth1 {
    font-size: 22px;
  }
}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 800px) {
  h1 {font-size: 2.957em;}
  h2 {font-size: 2.369em;}
  h3 {font-size: 1.777em;}
  h4 {font-size: 1.333em;}

  #projectContain {
    flex-direction: column;
  }

  #aboutContent {
    width: 100%;
  }

  #projectImg {
    width: 100%;
    padding: 0;
  }

  #projecth1 {
    font-size: 27px;
  }
}