/* css */

body {
  font-family: 'work sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;

}

header {
  text-transform: uppercase;
  font-weight: 400;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 30px;
}

#about {
  position: fixed;
  left: 5px;
  top: 150px;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  z-index: 1000;
}

#title {

}

#contact {

}


#container {
  display:flex;
}

#projectNames {
  z-index: 100;
}

#projecth1 {
  font-size: 38px;
  font-weight: 600px;
  text-transform: capitalize;
}

#showBackground {
  position: absolute;
  z-index: 1;
}
